.top-wrapper{
    background-color: white;
    background-size: cover;
    padding : 50px 50px ;
    height: 750px;
}
.top-wrapper h1 {
  color: black;
  font-size: 100px;
  background-size: cover;
  font-family: copperplate;
}
.top-wrapper p{
  font-size: 30px;
  color: black;
  padding-top: 50px;
  margin-bottom: 30px;
  height: 90px;
  letter-spacing: 5px;
  opacity: 0.65;
}

.btn-wrapper{
   padding: 24px 24px;
   background-color: white;
   font-size: 24px;
   text-align: center;
}
.bottom-wrapper{
  color: black;
  opacity: 0.7;
  float: right;
  font-size: 30px;
}
header{
  height:65px;
  background-color:gray;
}
.logo{
  height:65px;
}
.member-wrapper{
  height: 1100px;
  padding-bottom: 80px;
  background-color: white;
}
.heading{
  padding-top: 60px;
  padding-bottom: 30px;
  color:black;
  font-family: copperplate;
  font-size: 30px;
}
.member-icon{
  width: 32%;
  padding-left: 15px;
  float: left;
}
.member-icon p{
  color: black;
  font-size: 15px;
}
.icon{
  float: left;
  text-align: center;
  margin-top: 200px;
}
.message-wrapper{
  background-color: gray;
}
.message{
  background-color:#5dca88;
  padding:15px 40px;
}
.heading h2{
  color:black;
  text-align: center;
}
.heading h3{
  font-weight:normal;
  color:black;
  text-align: center;
}
footer img{
  width:125px;
}
footer p{
  color:#b3aeb5;
  font-size:12px;
}
footer{
  padding-top:30px;
}
