/*----ヘッダー---*/
header{
  height:65px;
  background-color:white;
}
.logo{
  height:65px;
}

/*------------------------------*/




/*---一番上の画像とか----*/
.top-wrapper{
    padding : 50px 50px ;
    height: 750px;
    position   : relative;
    overflow   : hidden;
}
.top-wrapper .bgImg {
  position   : absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 8s infinite;   /* 4画像 × 各5s = 20s */
}

/* --- 段差で背景画像のアニメーションを実行 ----------------- */
.top-wrapper .src1 {
  background-image : url(https://github.com/rigel-c/rigel.github.io/blob/master/IMG_0330.JPG);   /* 背景の画像を指定 */
background-size: cover;
}

.top-wrapper .src2 {
  background-image : url(https://github.com/rigel-c/rigel.github.io/blob/master/S__27410476.jpg);   /* 背景の画像を指定 */
background-size: cover;
  animation-delay  : 2s;
}
.top-wrapper .src3 {
  background-image : url(https://github.com/rigel-c/rigel.github.io/blob/master/S__27410473.jpg);   /* 背景の画像を指定 */
background-size: cover;
  animation-delay  : 4s;
}
.top-wrapper .src4 {
  background-image : url(https://github.com/rigel-c/rigel.github.io/blob/master/S__27410472.jpg);   /* 背景の画像を指定 */
background-size: cover;
  animation-delay  : 6s;
}
@keyframes bgAnime {
   0% { opacity: 0; }
   5% { opacity: 1; }
  25% { opacity: 1; }
  30% { opacity: 0; }
 100% { opacity: 0; }
}
.top-wrapper .title{
  position   : absolute;
  display    : inline-block;
  padding    : 20px;
  color      : red;
  top        : 50%;                               /* 中央寄せ */
  left       : 50%;
  transform  : translate(-50%,-50%);
  z-index    : 11;
  font-family: copperplate;
  font-size: 50px;
  text-align: center;
}
.top-wrapper .subtitle{
  position   : absolute;
  display    : inline-block;
  padding    : 40px;
  color      : red;
  top        : 60%;                               /* 中央寄せ */
  left       : 50%;
  transform  : translate(-50%,-50%);
  z-index    : 11;
}

/*-------------------------------*/


/*---------サービス----------*/

.survice-wrapper{
  height: 1100px;
  padding-bottom: 80px;
}
.survice-heading h1{
  margin-top: 200px;
  color:black;
  font-family: copperplate;
  font-size: 50px;
  text-align: center;
}
.survice-icon_1{
  display: inline-block;
  height: 1000px;
  margin-left: 50px;
  float: left;
  width: 45%;
  text-align: left;
  background-image: url(https://github.com/rigel-c/rigel.github.io/blob/master/IMG_0394.JPG);
}
.survice-icon_1 h2{
  display: inline-block;
  color: black;
  font-size: 50px;
 font-family: copperplate;
 text-align: left;
}
.survice-icon_1 p{
  display: inline-block;
  color: black;
  font-size: 30px;
 line-height: 30px;
 font-family: YuGothic;
 white-space: nowrap;
 text-align: left;
}
.survice-icon_2{
  display: inline-block;
  height: 1000px;
  margin-left: 50px;
  width: 45%;
  float: left;
  background-image: url(https://github.com/rigel-c/rigel.github.io/blob/master/IMG_0395.JPG);
}

.survice-icon_2 h2{
  display: inline-block;
  float: left;
  color: black;
  font-size: 50px;
 font-family: copperplate;
}
.survice-icon_2 p{
  display: inline-block;
  float: left;
  color: black;
  font-size: 30px;
 line-height: 30px;
 font-family: YuGothic;
 white-space: nowrap;
}

.icon{
  float: left;
  text-align: center;
  margin-top: 200px;
}

/*-----------------------------*/



/*----スタッフ---*/
.member-wrapper{
  height: 1100px;
  padding-bottom: 80px;
  background-color: white;
}
.members{
 text-align: center;
}
.heading h1{
  margin-top: 200px;
  color:black;
  font-family: copperplate;
  font-size: 50px;
  text-align: center;
}
.member-icon{
  width: 32%;
  padding-left: 15px;
  float: left;
  margin-top: 50px;
}
.member-icon p{
  color: black;
  font-size: 15px;
  margin:8px 8px;
 line-height: 15px;
 font-family: YuGothic;
}

.icon{
  float: left;
  text-align: center;
  margin-top: 400px;
}

/*------------------------------------*/


/*----お問い合わせのボタンとか------*/

.btn-wrapper {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
  text-align: center;
}

.btn-push {
  display: inline-block;
  max-width: 180px;
  text-align: left;
  background-color: #ffa300;
  font-size: 16px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 20px 24px;
  border-radius: 4px;
  border-bottom: 4px solid #d37800;
}

.btn-push:active {
    transform: translateY(4px);
    border-bottom: none;
}
.contact-wrapper{
  background-color: white;
}
.btton h1{
  font-size: 50px;
  color: black;
  text-align: center;
  font-family: copperplate;
}
.btton p{
  color: black;
  text-align: center;
  line-height: 15px;
}

/*----------------------------------*/




/*-------フッター---------*/

footer img{
  width:125px;
}
footer p{
  color:#b3aeb5;
  font-size:12px;
}
footer{
  padding-top:30px;
}

/*-------==------------------*/
